*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins","sans-serif";
}
body{
    align-items: center;
    min-height: 100vh;
    background: white;
}
ul{
    list-style: none;
  }
a{
    text-decoration: none;
  }
.container{
    margin: 0px auto;
    max-width: 1400px;
  }
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    background-color: black;
  }
header.sticky{
    background: #00000070;
    opacity: 0.9;
    padding: 15px 0px;
    color: #000;
  }
header.sticky #logo{
    color: white;
  }
header.sticky #main-menu a{
    color: white;
  }
.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
#logo{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: block;
  }
ul#main-menu{
    display: flex;
  }
ul#main-menu a{
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    display: block;
    font-weight: bold;
  }
#content h1{
    padding: 30px 0px;
  }
#content p{
    margin-bottom: 1.2rem;
}


.menuDau{
    margin-top: 100px; 
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #00000020;
}
#image{
    padding: 200px 200px 200px 350px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid #00000020;
}
.preview{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}
.preview{
    width: 70px;
    margin-right: 30px;
    border: 1px solid #00000020;
}
.tts1{
    margin-bottom: 5px;
}
.ThemGioHang{
    border: 1px solid red; 
    font-size: 20px; 
    padding: 10px 245px 10px 245px; 
    border-radius: 5px; 
    color: white;
    background-color: orangered;
}